.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  text-align: center;
  margin: 0 0 15px;
  padding: 5px 20px 4px;
  font-size: 17px;
  color: $black;
  border: 2px solid $minor;
  border-radius: 5px;
  transition: all 0.4s ease 0s;

  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }

  &:hover {
    color: $white;
    background: $minor;
  }
}
