@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Hind:wght@300;400;600&display=swap');

//FONTS
$main-font: 'Hind', sans-serif;
$cursive-font: 'Dancing Script', cursive;

//COLORS
$white: #ffffff;
$black: #000000;
$main: #f7e8e3;
$main-sec: #ada095;
$font-color: #524438;
$font-color-sec: #8da999;
$minor: #443852;
$red: #a30000;

//COUNTS
$container: 1360px;
$container-padding: 0 15px;
